{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel = "stylesheet" href = "{% static 'css/basestyle.css' %}">
  <title>Rodolfo articles can be found here</title>
</head>
<body>

  <header>
    <<h1><a href="/">My Personal Blog<a/></h1>
  </header>

    <div class="container">

      {% if user.is_authenticated %}
        <p>You are logged in</p>
        <p>User: {{user.username}}!!</p>
        <p>To logout <a href="{% url 'logout' %}">Click here!</a></p>

      {% else %}
        <p>You are not logged!!!</p>
        <p>Please <a href="{% url 'login' %}">Login here</a></p>
      {% endif %}

      {% block content %}

      {% endblock content %}

    </div>

</body>
</html>
